procesamiento_zip/*_2008
procesamiento_zip/*_2010
procesamiento_zip/*_arc
procesamiento_zip/*_poly
procesamiento_zip/full-down-GeoPortal-Cordoba.tar.gz
procesamiento_zip/GeoPortal-Cordoba/
hackathONG-2015/procesamiento_zip/geojson/
hackathONG-2015/procesamiento_zip/tmp/
*~
*.zip
*.pyc


