hackathONG-2015/procesamiento_zip/full-down-GeoPortal-Cordoba.tar.gz
hackathONG-2015/procesamiento_zip/GeoPortal-Cordoba/
hackathONG-2015/procesamiento_zip/geojson/
hackathONG-2015/procesamiento_zip/tmp/
*~
*.zip
*.pyc
results/
*.nja


